* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dfdfdf;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

h1 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}

label {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
  display: block;
}

input {
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  outline: none;
  transition: border 0.3s;
}

input:focus {
  border-color: #007bff; /* Mudança de cor no foco */
}

button {
  padding: 12px 30px;
  border: none;
  background-color: #606060;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #808080;
}

.card {
  margin-top: 20px;
  background-color: #383838;
  color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card-number {
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.card-holder {
  font-size: 1rem;
  margin-top: 10px;
}

.expiry-cvv {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.expiry,
.cvv {
  font-size: 0.9rem;
}

/* Media Queries para Responsividade */
@media (max-width: 600px) {
  .container {
    padding: 20px;
  }

  h1 {
    font-size: 1.5rem;
  }

  button {
    padding: 10px 20px;
  }

  .card {
    padding: 15px;
  }

  .card-number {
    font-size: 1.3rem;
  }

  .card-holder,
  .expiry,
  .cvv {
    font-size: 0.8rem;
  }
}
